#pagina-debates header.debates-intro {
  margin: 30px 0;
  padding: 30px 0;
  background-color: #e8e8e8;
}
#pagina-debates header.debates-intro .image-header {
  position: relative;
}
#pagina-debates header.debates-intro .image-header img {
  position: absolute;
  top: -80px;
  right: 0;
}
@media (max-width: 992px) {
  #pagina-debates header.debates-intro .image-header img {
    position: initial;
    top: 0px;
  }
}
#pagina-debates .debate-item {
  margin-top: 20px;
  padding: 0;
  min-height: 400px;
  box-shadow: 0px 1px 6px 1px rgba(50, 50, 50, 0.31);
}
#pagina-debates .debate-item .description {
  padding: 20px;
}
#pagina-debates .debate-item .img-responsive {
  display: inline !important;
}
#pagina-debates .debate-item header {
  padding: 30px;
  min-height: 150px;
}
#pagina-debates .debate-item header.protecao {
  background: url("../images/debates/debates/bck-debates-dados-pessoais.jpg") repeat top left #034f2a;
}
#pagina-debates .debate-item header.marco-civil {
  background: url("../images/debates/debates/bck-debates-marco-civil.jpg") repeat top left #ffbe5c;
}
#pagina-debates .debate-item header.anticorrupcao {
  background: url("../images/debates/debates/bck-debates-anticorrupcao.jpg") repeat center #273339;
}
