.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 1px solid #848484;
    color: black;

}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
    max-width: 580px;
    background: white;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;

}
.ui-menu .ui-menu-item a:hover
{
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #4488F6;
    cursor: pointer;
    background-color: #F1F1F1;
}
.ui-widget-content a
{
    color: black;
}

.ui-helper-hidden-accessible {
    display: none;
}

#resumo-certificado {
    text-align: center;
    font-size: 14px !important;
    background: white;

    span {
        font-weight: bold;
        font-size: 26px;
        display: block;
        clear: both;
    }
}
